* {
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

html {
	color: #e8e8e8;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-color: #303f9f;
	background: linear-gradient(#303f9f, transparent), linear-gradient(-45deg, #007e6e, transparent),
		linear-gradient(45deg, #3f007e, transparent);
	background-blend-mode: multiply;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
